---
import { getCollection } from "astro:content";
import PageTitle from "../../components/PageTitle.astro";
import { getLocaleFromUrl } from "../../i18n";
import Layout from "../../layouts/Layout.astro";

const locale = getLocaleFromUrl(Astro.url);

// Get the resources page content for the current locale
const resourcesPages = await getCollection("pages", ({ data }) => {
  return data.locale === locale;
});

const resourcesPage = resourcesPages.find((page) =>
  page.slug.endsWith("resources"),
);

if (!resourcesPage) {
  throw new Error(`Resources page not found for locale: ${locale}`);
}

const { Content } = await resourcesPage.render();
---

<Layout title={resourcesPage.data.title}>
  <PageTitle
    title={resourcesPage.data.page_title}
    background={resourcesPage.data.background}
  />
  <main
    class="auto-padding my-6 rounded-md font-light md:text-lg prose prose-lg max-w-none"
  >
    <Content />
  </main>
</Layout>
