---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mengenal ISES">
  <main class="mx-8 sm:mx-16 md:mx-32 lg:mx-64 my-12 rounded-md p-4 font-light">
    <h1 class="text-3xl font-regular mb-8">Mengenal ISES</h1>
    <p>
      Indonesia serta kekayaan alam, budaya dan biodiversitasnya menjadikannya
      tempat yang tepat untuk mempelajari ilmu biogeografi, evolusi, antropologi
      dan persebaran berbagai spesies unik dan endemik. Namun, hingga saat ini,
      studi evolusi di Indonesia belum terkaji secara maksimal dan masih
      didominasi oleh peneliti dari luar negeri.
    </p>
    <p>
      Maraknya miskonsepsi mengenai teori evolusi di Indonesia, serta minimnya
      pengetahuan masyarakat mengenai evolusi menjadi tantangan bagi Indonesia
      untuk melahirkan generasi penerus bagi pegiat atau peneliti bidang
      evolusi. Selain itu, komunikasi dan kolaborasi antar peneliti bidang
      evolusi dari Indonesia masih belum berkembang.
    </p>
    <p>
      Indonesian Society for Evolutionary Studies (ISES) merupakan upaya
      sejumlah pegiat bidang evolusi di Indonesia untuk mengatasi berbagai
      tantangan di atas. Tujuan kami adalah untuk menjadi wadah kolaborasi dan
      komunikasi antar pegiat lintas bidang evolusi dan wadah edukasi dan
      informasi mengenai teori evolusi untuk masyarakat. Organisasi ini
      diinisiasi pada tanggal 23 Mei 2024.
    </p>
  </main>
</Layout>
<style>
  p {
    @apply mt-4;
  }
</style>
