---
import PageTitle from "../components/page-title.astro";
import Layout from "../layouts/layout.astro";
---

<Layout title="About Us">
  <PageTitle
    title="About Us"
    background="carousels/Haeromys_minahasae_HeruHandika.jpg"
  />
  <main class="auto-padding my-6 rounded-md font-light text-lg">
    <p>
      Since the early development of evolutionary studies, the Indonesian
      archipelago (then partially part of the Netherlands East Indies) has
      served as a source of inspiration and curiosity for foreign naturalists.
      One of the most notable figures is Alfred Russel Wallace, best known as
      the co-discoverer of the theory of natural selection. It was during his
      time in Ternate around 1858 that he experienced a moment of profound
      insight, which he later articulated in his famous "Letter from Ternate."
    </p>
    <p>
      From that letter to today, the idea of natural selection remains one of
      the most powerful forces that govern the patterns of biodiversity we
      observe today. However, despite Wallace's legacy and Indonesia's
      extraordinary biodiversity, the advancement of evolutionary studies in the
      country has fallen behind. Indonesia, a nation rich in both biological and
      cultural diversity, is no longer at the forefront of evolutionary
      research. This untapped potential is particularly concerning at a time
      when biodiversity faces unprecedented threats. Signatures of evolutionary
      history, formed over hundreds of millions of years, are at risk of
      disappearing before they can even be studied or understood.
    </p>
    <p>
      Alongside the fading public memory of Wallace's legacy in Indonesia,
      understanding of evolution among the general public is hampered by
      misinformation and distorted representations of basic evolutionary
      principles. This creates a dual challenge:
      <ol class="list-decimal list-inside pl-6 my-4">
        <li>
          Policy-making becomes less informed in the absence of a strong
          evolutionary foundation, undermining efforts to manage and conserve
          biodiversity effectively,
        </li>
        <li>
          Education and outreach struggle, making it difficult to cultivate a
          new generation of Indonesian scientists who can appreciate and protect
          biodiversity through an evolutionary lens.
        </li>
      </ol>

      Even among professionals/students dedicated to evolutionary-related fields
      (such as systematics, ecology, evolutionary biology, genomics, and
      anthropology, etc) many are scattered across the globe with limited
      opportunities to connect or collaborate. Building a strong community
      starts with knowing each other. Connection is the first step toward
      advancing the field and fostering collaborative efforts to change the
      situation.
    </p>
    <p>
      Indonesian Society for Evolutionary Studies (ISES) is an effort that we
      are hoping could contribute in helping to tackle the challenges and shape
      the future progress of the field in Indonesia. We aim to provide a forum
      for researchers and students interested in advancing our understanding of
      the origin, evolution, and maintenance of biodiversity in Indonesia, in
      hope that it could support collaborative research, promote dialogue across
      evolutionary-related disciplines, and enhance public understanding of our
      field. This organisation was initiated on 23 May 2024 through an online
      meeting with XX global participants invited to discuss the above-mentioned
      issues. The founding participants are:
    </p>
    <ul class="list-disc list-inside pl-6 my-4">
      <li>Lala</li>
      <li>Lili</li>
      <li>Lulu</li>
    </ul>
  </main>
</Layout>
