---
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="The Nature Place Day Camp">
  <Header />
  <Hero />
  <div class="m-16 flex flex-col md:flex-row items-center gap-8">
    <div class="relative w-full md:w-1/2">
      <img
        src="/carousels/Cuora_amboinensis_NurHerjayanti.JPG"
        class="h-full w-full object-cover rounded-xl"
      />
      <div
        class="absolute inset-0 bg-gradient-to-tl rounded-xl from-black/60 to-transparent"
      >
      </div>
    </div>
    <div class="w-full md:w-1/2">
      <h1 class="mb-8 font-serif text-2xl md:text-4xl">
        Welcome to the Indonesian Society for Evolutionary Studies (ISES)
      </h1>
      <p class="text-base md:text-lg">
        We provide a forum for researchers and students interested in advancing
        our understanding of the origin, evolution, and maintenance of
        biodiversity in Indonesia. Our society is dedicated to supporting
        collaborative research and promote dialogue across evolutionary-related
        disciplines and enhance public understanding of our field.
      </p>
      <div class="mt-8">
        <Button title="What We Do" extendClass="px-8" />
      </div>
    </div>
  </div>

  <div class="m-16">
    <div class="flex flex-row items-center justify-center gap-8">
      <h2 class="font-serif text-3xl mb-4 bg-eggshell-500 px-4 py-1">
        Research Activities
      </h2>
    </div>
    <div class="flex flex-col md:flex-row items-center gap-4 md:gap-8">
      <div class="relative w-full md:w-1/4 group min-h-[300px]">
        <img
          src="/carousels/Cuora_amboinensis_NurHerjayanti.JPG"
          class="h-full min-h-[300px] w-full object-cover rounded-xl"
          alt="Turtle Species 1"
        />
        <div
          class="absolute inset-0 bg-gradient-to-b rounded-xl from-black/0 via-black/0 to-black/70 flex items-end p-4 transition-all duration-300 group-hover:opacity-100"
        >
          <h3 class="text-white text-lg">Turtle Species 1</h3>
        </div>
      </div>
      <div class="relative w-full md:w-1/4 group min-h-[300px]">
        <img
          src="/carousels/Cuora_amboinensis_NurHerjayanti.JPG"
          class="h-full min-h-[300px] w-full object-cover rounded-xl"
          alt="Turtle Species 2"
        />
        <div
          class="absolute inset-0 bg-gradient-to-b rounded-xl from-black/0 via-black/0 to-black/70 flex items-end p-4 transition-all duration-300 group-hover:opacity-100"
        >
          <h3 class="text-white text-lg">Turtle Species 2</h3>
        </div>
      </div>
      <div class="relative w-full md:w-1/4 group min-h-[300px]">
        <img
          src="/carousels/Cuora_amboinensis_NurHerjayanti.JPG"
          class="h-full min-h-[300px] w-full object-cover rounded-xl"
          alt="Turtle Species 3"
        />
        <div
          class="absolute inset-0 bg-gradient-to-b rounded-xl from-black/0 via-black/0 to-black/70 flex items-end p-4 transition-all duration-300 group-hover:opacity-100"
        >
          <h3 class="text-white text-lg">Turtle Species 3</h3>
        </div>
      </div>
      <div class="relative w-full md:w-1/4 group min-h-[300px]">
        <img
          src="/carousels/Cuora_amboinensis_NurHerjayanti.JPG"
          class="h-full min-h-[300px] w-full object-cover rounded-xl"
          alt="Turtle Species 4"
        />
        <div
          class="absolute inset-0 bg-gradient-to-b rounded-xl from-black/0 via-black/0 to-black/70 flex items-end p-4 transition-all duration-300 group-hover:opacity-100"
        >
          <h3 class="text-white text-lg">Turtle Species 4</h3>
        </div>
      </div>
    </div>
  </div>
</Layout>
