---
import PageTitle from "../components/page-title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Programs">
  <PageTitle title="Programs" />
  <div class="auto-padding">asdf</div>
</Layout>
