---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resources">
  <main class="auto-padding my-6 rounded-md font-light">
    <h1 class="italic font-regular">Resources</h1>

    <div class="mt-6">
      <Button
        title="Program book"
        href="/static/ises_programbook.pdf"
        extendClass="mt-2"
      />
    </div>
  </main></Layout
>
