---
import { Icon } from "astro-icon/components";
const year = new Date().getFullYear();
---

<div class="w-full flex flex-col items-center">
  <div class="border-t-4 my-8 border-black/30 border-dotted w-[20px]"></div>
  <section>
    <p
      class="text-md bg-eggshell-400 rounded-full px-4 py-1 font-light text-center mb-4"
    >
      Ikuti kami di sosial media
    </p>

    <div class="flex justify-center gap-4">
      <a href="https://www.instagram.com/evoina_org/" target="_blank">
        <Icon name="instagram" class={"w-6 h-6"} />
      </a>
      <a href="https://www.x.com/evoina_org/" target="_blank">
        <Icon name="twitter" class={"w-6 h-6"} />
      </a>
      <a href="https://linktr.ee/evoina.org" target="_blank">
        <Icon name="linktree" class={"w-6 h-6"} />
      </a>
    </div>
  </section>

  <section class="border-t-[1px] my-8 border-black/10 w-[80%]">
    <div class="flex justify-center gap-4">
      <p class="text-sm">
        Copyright &copy; {year}
        <a href="/" class="font-semibold">evoina.org</a>
      </p>
    </div>
  </section>
</div>
