---
import { Icon } from "astro-icon/components";
const year = new Date().getFullYear();
---

<div class="w-full flex flex-col items-center">
  <div class="border-t-4 my-8 border-black/30 border-dotted w-[30%]"></div>

  <section>
    <h3 class="text-xl font-light text-center mb-8">
      Ikuti kami di sosial media
    </h3>

    <div class="flex justify-center gap-4">
      <a href="https://www.instagram.com/evoina_org/">
        <Icon name="instagram" class={"w-8 h-8"} />
      </a>
      <a href="https://www.x.com/evoina_org/">
        <Icon name="twitter" class={"w-8 h-8"} />
      </a>
      <a href="https://linktr.ee/evoina.org">
        <Icon name="linktree" class={"w-8 h-8"} />
      </a>

      <style>
        p {
          @apply mt-4 font-light;
        }
      </style>
    </div>
  </section>

  <section class="border-t-[1px] my-8 border-black/10 w-[80%]">
    <div class="flex justify-center gap-4">
      <p class="text-sm">
        Copyright &copy; {year}
        <a href="/" class="font-semibold">evoina.org</a>
      </p>
    </div>
  </section>
</div>
