---
const navigations = [
  { link: "/about", name: "Latar Belakang" },
  { link: "/resources", name: "Resources" },
];

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---

<header
  class="bg-dim_gray bg-[url('/header.webp')] bg-cover bg-center relative"
>
  <div class="text-white/40 text-xs absolute bottom-1 right-1 font-light">
    Ilustrasi oleh <a
      href="https://unsplash.com/photos/a-forest-filled-with-lots-of-tall-trees-BM51hWoI3PI"
      target="_blank">Roberto Lendon</a
    >
  </div>
  <div
    class="bg-gradient-to-r from-black/70 to-black/10 text-white flex flex-col p-4"
  >
    <div
      class="border-b border-eggshell/50 pb-2 text-lg px-8 flex flex-col gap-2 sm:flex-row justify-between items-center"
    >
      <>
        <a href="/">
          <span class="font-semibold">evoina</span>.org
        </a>
      </>
      <div class="flex flex-row gap-2 bg-white rounded-lg text-black px-2 py-1">
        {
          navigations.map((navigation) => (
            <a
              href={navigation.link}
              class={`hover:bg-eggshell-400 rounded-lg py-2 px-4 text-sm font-normal ${currentPath === navigation.link.slice(1) ? "bg-eggshell-400 text-black" : ""}`}
            >
              {navigation.name}
            </a>
          ))
        }
      </div>
    </div>
    <div
      class="h-full flex sm:flex-row flex-col-reverse items-center px-8 justify-between py-8"
    >
      <div>
        <h1
          class="text-4xl text-center sm:text-left sm:text-5xl flex flex-col gap-1 font-light"
        >
          <span class="text-eggshell">Indonesian Society</span>
          <span class="text-white">for Evolutionary Studies</span>
          <span class="text-white text-2xl"> (ISES)</span>
        </h1>
      </div>
      <div class="w-24"><img src="/ises-logo.webp" /></div>
    </div>
  </div>
</header>
