---

---

<div
  class="relative h-screen bg-cover bg-center"
  style="background-image: url('/carousels/Arachnida_ArifMaulana.JPG');"
>
  <div class="absolute inset-0 bg-gradient-to-t from-black/80 to-transparent">
  </div>
  <div
    class="relative z-10 flex flex-col items-start justify-end h-full text-white p-16"
  >
    <h1 class="text-3xl md:text-5xl font-serif font-bold leading-tight">
      Advancing biodiversity science in Indonesia
      <br /> through collaborative research and public engagement.
    </h1>
    <div class="mt-8 flex gap-4">
      <a
        href="#"
        class="border border-white bg-black/30 rounded-md px-4 md:px-6 py-2 md:py-3 font-semibold hover:bg-white hover:text-black text-sm md:text-base"
      >
        ABOUT ISES
      </a>
      <a
        href="#"
        class="flex items-center gap-2 font-semibold text-sm md:text-base"
      >
        OUR PROGRAMME
      </a>
    </div>
  </div>
</div>
