---
interface Props {
  title: string;
  background?: string;
}

const { title, background } = Astro.props;
---

<div
  class={`w-full pt-64 bg-black text-white ${!background ? "bg-black" : "bg-cover bg-center bg-no-repeat"}`}
  style={background
    ? `background-image: linear-gradient(to top, rgba(0,0,0,0.7), transparent), url('${background.startsWith("/") ? background : "/" + background}')`
    : ""}
>
  <div class="bg-gradient-to-t from-black/70 to-transparent py-6">
    <div class="auto-padding">
      <h2 class="font-serif text-4xl">
        {title}
      </h2>
    </div>
  </div>
</div>
