---
import "@fontsource-variable/inter";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="The Indonesian Society for Evolutionary Studies (ISES)"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - evoina.org</title>
  </head>
  <body
    class="font-inter h-full min-h-screen bg-gradient-to-t from-eggshell to-eggshell/20"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  h1 {
    @apply text-xl md:text-3xl font-normal;
  }
  p {
    @apply mt-4 font-light;
  }
  .auto-padding {
    @apply px-8 md:px-16 lg:px-32;
  }
  p a {
    @apply underline underline-offset-2;
  }

  main {
    @apply min-h-48;
  }
</style>
